#add{
  background-color:rgb(28,54,94);
  color:white;
  border-radius: 4px;
}

#feedback{
  border-radius: 50px;
  --ion-background-color: #f0f0f0!important;
  word-wrap: break-word;
  word-break: break-all;
}

#replies{
  padding-left: 50px;
}

.content{
  padding-left: 10px;
  padding-right: 10px;
}

ion-label{
  white-space: normal!important;
}

