<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Health Insurance Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{info2.image}}">
      </ion-avatar>
      <ion-label>
        <h2>{{info2.name}}</h2>
        <p>Email: {{info2.email}}</p>
        <p>Contact: {{info2.contact_number}}</p>
        <p>Address: {{info2.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="content">
    <div>
      <ion-list *ngFor="let list of flist">
        <ion-item lines="none" id="feedback">
          <ion-avatar slot="start">
            <img src="{{list.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{list.fullname}}</h2>
            <h3>{{list.feedback}}</h3>
            <p>{{list.createdAt}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <!--Replies-->
    <div id="replies">
      <ion-list *ngFor="let reply of replyList">
        <ion-icon name="return-down-forward-outline"></ion-icon>
        <ion-item lines="none" id="feedback">
          <ion-avatar slot="start">
            <img src="{{info2.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{reply.name}}</h2>
            <h3>{{reply.feedback}}</h3>
            <p>{{reply.createdAt}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
     </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea [(ngModel)]="feedback" name="feedback"  placeholder="Add feedback"></ion-textarea>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="add_feedback()" type="submit" id="add">Add
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
