<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/doctor-patient-chat" id="back" icon-only fill clear shape="square">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-avatar>
    <img src={{patientInfo.image}} id="pic">
  </ion-avatar>
  <h3 style="text-align: center;"><b>{{patientInfo.fullname}}</b></h3>
  <ion-list>
    <ion-item button routerLink="/doctor-patientprescription" >
      <ion-label>
        Prescription
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/doctor-medical-certificate" >
      <ion-label>
        Medical Certificate
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/doctor-shared-files">
      <ion-label>
        Shared Files
      </ion-label>
    </ion-item>
    <ion-item button>
      <!-- <ion-select #f (change)="change(f.value)">Action</ion-select> -->
      <ion-button  (change)="change($event)">Action</ion-button>
        <ion-item>
          <button hidden id="showIns" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
          </button>
          <div class="collapse" id="collapseExample">
            <ion-item>
              <ion-button (click)="finish()">Finish Consultation</ion-button>
              <ion-button (click)="cancel()">Cancel Consultation</ion-button>
            </ion-item>
        </div>
        </ion-item>

    </ion-item>
  </ion-list>
</ion-content>
