<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/doctor-patient-chat" id="back" icon-only fill clear shape="square">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <ion-avatar>
    <img src={{patientInfo.image}} id="pic">
  </ion-avatar>
  <h3 style="text-align: center;"><b>{{patientInfo.fullname}}</b></h3>
  <ion-list>
    <ion-item button routerLink="/doctor-patientprescription" >
      <ion-label>
        Prescription
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/doctor-medical-certificate" >
      <ion-label>
        Medical Certificate
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/doctor-shared-files">
      <ion-label>
        Shared Files
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        Actions
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
