ion-avatar{
  margin: auto;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-color: #16c2d5;
  border-style: solid;
}

#back{
  color:darkslategrey;
  --border-radius: 150%;
  width: 16% !important;
  height:10% !important;
  padding:1px;
}

ion-icon{
  width: 100px;
  height: 100px;
}

ion-item{
  color:#1C365E;
}
/*.icons{
  color:rgb(28,54,94)!important;
}

ion-item-group[submenu] {
  overflow: hidden;
  display: block;
  height: 0;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform .1s linear, max-height 0s .1s linear;
  &.visible {
  height: inherit;
  transform: scaleY(1);
  transition: transform .1s linear, max-height 0s linear;
  }
}

#one,#two{
  --background:rgb(236, 236, 236);
}*/
