<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-segment value="consultations" [(ngModel)]="selectTabs">
      <ion-segment-button value="Doctors">
        <ion-icon name="person"></ion-icon>
        <ion-label>Doctors</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Lab">
        <ion-icon name="business"></ion-icon>
        <ion-label>Lab<br> Partners</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Insurance">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Health<br> Insurance</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectTabs==='Doctors'" class="doctors">
    <ion-searchbar animated [(ngModel)]="searchNamedoc" (input)="doctor_list()" name="searchName" placeholder="Search Doctors"></ion-searchbar>
    <ion-list>
      <ion-label *ngFor="let list of list" class="card">
        <ion-item button (click)="view_review_doc(list)">
          <ion-avatar slot="start">
            <img src="{{list.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{list.fullname}}</h2>
            <div *ngFor="let spList of spList">
              <p *ngIf="list.specialization === spList.uid" class="card-text mb-1">{{spList.name}}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-list>
  </div>

  <div *ngIf="selectTabs==='Lab'" class="lab">
    <ion-searchbar animated [(ngModel)]="searchNamelab" (input)="get_labList()" placeholder="Search Lab Partners"></ion-searchbar>
    <ion-list>
      <ion-label *ngFor="let list of list" class="card">
        <ion-item button (click)="view_review_lab(list)">
          <ion-avatar slot="start">
            <img src="{{list.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{list.name}}</h2>
            <h2>{{list.address}}</h2>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-list>
  </div>

  <div *ngIf="selectTabs==='Insurance'" class="insurance">
    <ion-searchbar animated [(ngModel)]="searchNameins" (input)="get_healthList()" placeholder="Search Health Insurance"></ion-searchbar>
    <ion-list>
      <ion-label *ngFor="let list of list" class="card">
        <ion-item button (click)="view_review_insurance(list)">
          <ion-avatar slot="start">
            <img src="{{list.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{list.name}}</h2>
            <h2>{{list.address}}</h2>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-list>
  </div>
</ion-content>
