<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-segment value="consultations">
      <ion-segment-button value="Doctors" (click)="doc()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Doctors</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Lab" (click)="lab()">
        <ion-icon name="business"></ion-icon>
        <ion-label>Lab<br> Partners</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Insurance" (click)="insurance()">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Health<br> Insurance</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
