.block-center{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn{
  --background: #16c2d5;
  display: block;
  margin:10px;
  height:80px;
  border-radius: 4px;
  flex-flow: column;
}

.block-center{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ion-label{
  display:block;
}

ion-icon{
  width: 25px;
  height: 25px;
}
