<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class class="block-center">
    <ion-button (click)="doc()" class="btn">
      <div>
        <ion-icon name="person"></ion-icon>
        <ion-label>Doctors</ion-label>
      </div>
    </ion-button>

    <ion-button (click)="lab()"  class="btn">
      <div>
        <ion-icon name="business" ></ion-icon>
      <ion-label>Lab Partners</ion-label>
      </div>
    </ion-button>

    <ion-button (click)="insurance()"  class="btn">
      <div>
        <ion-icon name="heart"></ion-icon>
        <ion-label>Health Insurance</ion-label>
      </div>
    </ion-button>
  </div>
</ion-content>
