<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>patient-video-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons slot="start">
    <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
  </ion-buttons>
  <ion-item>

  <div class="video_cont">
      <div>

          <p>Patient</p>
          <video #local_video [autoplay]="true" [muted]="true"></video>

     </div>

      <div>

          <p >Doctor</p>
          <video #received_video [autoplay]="true"></video>

      </div>
  </div>
  </ion-item>

  <div class="video_btns">
      <ion-item>
        <ion-button (click)="startLocalVideo()"><ion-icon name="videocam-outline"></ion-icon></ion-button>
        <ion-button (click)="pauseLocalVideo()" class="stop-local" title="Camera/Mic off">
          <ion-icon name="videocam-off-outline"></ion-icon>
          <ion-icon name="mic-off-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="answerCall()"><ion-icon name="call-outline"></ion-icon></ion-button>
      </ion-item>
  </div>

</ion-content>
