<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align:center;" id="fixed">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list *ngFor="let list of tranList">
   <ion-item>
      <h5 mb-1>{{list.patient_name}}</h5>
      <small>{{list.updatedAt}}</small>
      <p>{{list.patient_name}} paid an amount of {{list.Amount}} as a payment for one consultation.</p>
      <p>Consultation Schedule: {{list.Schedule}}</p>
      <p>Amount: {{list.Amount}}</p>
      <p>Deduction(s): {{list.total_dec}}</p>
      <p>Net Income:{{list.net_income}}</p>
      <small>Transaction ID:{{list.uid}}</small>
   </ion-item>
 </ion-list>
</ion-content>
