<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align:center;" id="fixed">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input (input)="get_transaction()" type="text"placeholder="Search PatientsName"></ion-input>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="status" (change)="get_transaction()">
        <ion-select-option value="">Select Status</ion-select-option>
        <ion-select-option value="successful">Successful</ion-select-option>
        <ion-select-option value="refund">Cancelled</ion-select-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="month"  (change)="get_transaction()">
        <ion-select-option value="">Month</ion-select-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="year" (change)="get_transaction()">
      <ion-select-option value="">Year</ion-select-option>
     </ion-select>
   </ion-item>

   <ion-item *ngFor="let list of tranList">
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>Date: <i>{{list.createdAt}}</i></h3>
      </ion-text>
      <p>Patient: <b>{{list.patient_name}}</b></p>
      <p>Schedule: {{list.schedule}}</p>
      <p>Amount: {{list.Amount}}</p>
      <p>Payment Type: {{list.paymentType}}</p>
      <ion-text color="secondary">
        <p>Trasaction ID: {{list.transaction_id}}</p>
      </ion-text>
      <p *ngIf="list.status!=='refund'" >Status: Successful</p>
      <p *ngIf="list.status==='refund'" >Status: Cancelled</p>
      <p>Deductions: {{list.deduction}}</p>
      <p>Net Income: {{list.net_income}}</p>
    </ion-label>
  </ion-item>

</ion-content>
