<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align:center;" id="fixed">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input (input)="get_transaction()" type="text"placeholder="Search PatientsName"></ion-input>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="status" (change)="get_transaction()">
        <ion-select-option value="">Select Status</ion-select-option>
        <ion-select-option value="successful">Successful</ion-select-option>
        <ion-select-option value="refund">Cancelled</ion-select-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="month"  (change)="get_transaction()">
        <ion-select-option value="">Month</ion-select-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <ion-select [(ngModel)]="year" (change)="get_transaction()">
      <ion-select-option value="">Year</ion-select-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <p> Date</p>
     <p>Patient</p>
     <p>Schedule</p>
     <p>Fee</p>
     <p>Transaction ID</p>
     <p>Status</p>
     <p>Deductions</p>
     <p>Net Income</p>
   </ion-item>
 <ion-list *ngFor="let list of tranList">
   <ion-item id="list">
     <ion-label lines="full">
      <h3>{{list.updatedAt}}</h3>
      <h2><b>{{list.patient_name}}</b> paid an amount of &#36;{{list.Amount}} as a payment
        for one consultation.</h2>
      <p>Schedule: {{list.Schedule}}</p>
      <p>Gross Amount: {{list.Amount}}</p>
      <p>Deduction(s): {{list.total_dec}}</p>
      <p>Net Income:{{list.net_income}}</p>
      <p style="color: rgb(28,54,94);">Transaction ID:{{list.uid}}</p>
     </ion-label>
   </ion-item>
 </ion-list>
</ion-content>
