<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/doctor-chat-info" id="back" icon-only fill clear shape="square">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Send Medical Certificate</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: left;">
      <ion-item>
        <ion-input [(ngModel)]="sf" type="text" placeholder="Suffer's from"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="prsc" type="text" placeholder="Prescription"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button class="buttons" style="text-align: center;" (click)="generate_MC()">Generate Medical Certificate</ion-button>
      </ion-item>
      <ion-item>
        <ion-label id="profile_image" color="secondary"></ion-label>
        <ion-input type="file" (change)="choosefile2($event)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="buttons" style="text-align: center;">
    <ion-button  id="btn1" color="rgb(28,54,94)" expand="block" (click)="uploadMedical()">Upload</ion-button>
  </div>
  <div *ngIf="error_message.length > 0" class="alert alert-danger">
    {{error_message}}
  </div>
  <div *ngIf="success_message.length > 0" class="alert alert-success">
    {{success_message}}
  </div>
</ion-content>
