<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button color="dark"></ion-menu-button> -->
      <!-- <ion-button routerLink="/doctor-profile"><ion-icon name="arrow-back-outline">Button</ion-icon></ion-button> -->
      <ion-button routerLink="/doctor-profile"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h3>Insurance Affiliations</h3>
  </ion-item>
  <ion-item>
    <ion-label>
    <ion-item>
      <ion-select [(ngModel)]="insurance_id" name="insurance_id">
        <ion-select-option value="">Choose Insurance</ion-select-option>
          <ion-select-option *ngFor="let list of insuranceList" >{{list.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button (click)="insurance_request()">Request</ion-button>
    </ion-item>

      <ion-item *ngFor="let list of insurance_af" class="col-3">
        <ion-chip class="insurance">
          <ion-label>{{list.insurance_name}}></ion-label>
        </ion-chip>
      </ion-item>
    <ion-item *ngIf="request_sent" class="alert alert-success">
      Request Sent!
    </ion-item>
  <ion-item *ngIf="request_status.length>0" class="alert alert-danger">
    {{request_status}}
  </ion-item>
    </ion-label>

  </ion-item>

</ion-content>
