<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form >
    <div class="block-center">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-img src="{{imgUrl}}" alt="img" class="profile-pic" width="180" height="180"></ion-img>
            <ion-label class="name">{{info.fullname}}</ion-label><br><br>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-input name="Email" readonly>Email: {{info.email}}</ion-input>
            <ion-input name="Contact Number" readonly>Contact Number: {{info.contact_number}}</ion-input>
            <ion-input name="Address" readonly>Address: {{info.address}}</ion-input>
          </ion-item><br><br><br><br><br>
        </ion-card-content>
      </ion-card>
    </div>
  </form>-->

</ion-content>
