<ion-header>
  <ion-toolbar>
    <ion-title>patient-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <div class="block-center">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
            </ion-avatar>
            <ion-label class="name">{{info.fullname}}</ion-label><br><br>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-input name="patientID" readonly>Patient ID: {{userID}}</ion-input>
            <ion-input name="Date of Birth" readonly>Date of Birth: {{info.dob}}</ion-input>
            <ion-input name="Email" readonly>Email: {{info.email}}</ion-input>
            <ion-input name="Contact Number" readonly>Contact Number: {{info.contact_number}}</ion-input>
            <ion-input name="Address" readonly>Address: {{info.address}}</ion-input>
            <ion-input name="Health Insurance:" readonly>Health Insurance: {{info.insurance_name}}</ion-input>
            <ion-input name="Member ID:" readonly>Member ID: {{info.member_ID}}</ion-input>
          </ion-item><br><br><br><br><br>
          <div class="buttons">
            <ion-button  id="btn1" color="rgb(28,54,94)" expand="block"routerLink="/patient-edit-profile"><ion-icon name="create"></ion-icon> Edit</ion-button>
            <ion-button  id="btn2" color="rgb(28,54,94)" routerLink="/login"><ion-icon name="exit"></ion-icon> Logout</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>

</ion-content>
