<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-segment value="consultations" [(ngModel)]="selectTabs">
      <ion-segment-button value="upcoming">
        <ion-icon name="today"></ion-icon>
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-icon name="checkmark-done-circle"></ion-icon>
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectTabs==='upcoming'">
    <div *ngFor="let list of userList">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{list.fullname}}</h2>
            <div *ngIf="list.upcoming_status === 'pending'">
               <ion-button (click)="chat(list)">Accept</ion-button>
               <ion-button>{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</ion-button>
            </div>
            <div *ngIf="list.upcoming_status === 'ongoing'">
              <ion-button (click)="chat(list)">Join now</ion-button>
              <ion-label>{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</ion-label>
            </div>
      </ion-label>
      </ion-item>
    </ion-list>
    </div>
  </div>

  <div *ngIf="selectTabs==='done'">
    <ion-list>
      <ion-item *ngFor="let list of doneList">
        <h2>{{list.fullname}}</h2>
            <ion-button>Done</ion-button>
            <ion-button>{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

