<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-title id="fixed">My Consultations</ion-title>
    <ion-segment value="consultations" [(ngModel)]="selectTabs">
      <ion-segment-button value="upcoming">
        <ion-icon name="today"></ion-icon>
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-icon name="checkmark-done-circle"></ion-icon>
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" id="fab" data-desc="Description 2" routerLink="/patient-doctors-list">
      <ion-icon name="add" id="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="selectTabs==='upcoming'">
    <ion-list *ngFor="let list of docList">
      <ion-item button (click)="chat(list)">
        <div *ngIf="list.upcoming_status === 'pending'">
          <span >{{list.fullname}}</span>
          <ion-button >Pending</ion-button>
          <ion-button >Schedule | {{list.schedule}} Time | {{list.schedtime}}</ion-button>
        </div>
        <div *ngIf="list.upcoming_status === 'ongoing'">
          <span >{{list.fullname}}</span>
          <ion-button >Join Now</ion-button>
          <ion-button >Schedule | {{list.schedule}} Time | {{list.schedtime}}</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectTabs==='done'">
    <div>
    <ion-list *ngFor="let list of doneList">
      <ion-item button>
        <span>{{list.fullname}}</span>
        <button>Done</button>
        <button>Schedule | {{list.schedule}} Time | {{list.schedtime}}</button>
      </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>

