<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-title id="fixed">My Consultations</ion-title>
    <ion-segment value="consultations" [(ngModel)]="selectTabs">
      <ion-segment-button value="upcoming">
        <ion-icon name="today"></ion-icon>
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-icon name="checkmark-done-circle"></ion-icon>
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" id="fab" data-desc="Description 2" routerLink="/patient-doctors-list">
      <ion-icon name="add" id="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="selectTabs==='upcoming'">
    <div *ngFor="let list of docList">
    <ion-list>
      <ion-item>
        <ion-label>
            <div *ngIf="list.upcoming_status === 'pending'">
              <h2>{{list.fullname}}</h2>
               <ion-button>Pending</ion-button>
               <ion-label>{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</ion-label>
               <ion-button *ngIf="list.paymentType === 'paypal'" (click)="editCancel(list)" >Cancel Consultation</ion-button>
            </div>
            <div *ngIf="list.upcoming_status === 'ongoing'">
              <h2>{{list.fullname}}</h2>
              <ion-button (click)="chat(list)">Join now</ion-button>
              <ion-label>{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</ion-label>
            </div>
      </ion-label>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="error_message.length>0" class="alert alert-danger" role="alert">
      {{error_message}}
    </ion-item>
    </div>
  </div>
  <ion-item *ngIf="selectTabs==='done'">
    <ion-list>
      <ion-item button *ngFor="let list of doneList">
       <ion-label>
        <h2>{{list.fullname}}</h2>
            <ion-label style=" color: rgb(20, 195, 20); font-size: 20px"><b>Done</b><ion-icon name="checkmark"></ion-icon></ion-label>
            <ion-label>{{list.consultation_schedule}} | {{list.schedule}} | {{list.time}}</ion-label>
       </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>

