<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Doctor Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #info='ngForm' (ngSubmit)="registerDoctor(info.value)" class="register-form">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  type="text"[(ngModel)]="model.email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="model.password" name="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input primary type="password" [(ngModel)]="confirmPass" name="confirmPass" required></ion-input>
      </ion-item>
      <ion-item class="form-group mb-2">
        <ion-label class="label" for="email">Paypal Email <span class="trans">(<i>for transaction purposes</i>)</span> </ion-label>
        <ion-input [(ngModel)]="model.paypal_email" type="email" name="paypal_email" placeholder="Email address" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="model.fullname" name="fullname" placeholder="Firstname Mi. Lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <!-- <ion-datetime type="date" placeholder="Select Date"[(ngModel)]="model.dob" name="dob"></ion-datetime> -->
        <ion-input [(ngModel)]="model.dob" type="date" name="dob" placeholder="Date of Birth" required><ion-icon name="calendar-outline"></ion-icon></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input type="text" placeholder="(+63)" [(ngModel)]="model.contactNumber" name="contactNumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">License Number</ion-label>
        <ion-input type="text" [(ngModel)]="model.licenseNumber" name="licenseNumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Specialization</ion-label>
        <ion-select [(ngModel)]="model.specialization" name="specialization">
          <ion-select-option value="">--SELECT SPECIALIZATION--</ion-select-option>
          <ion-select-option *ngFor="let list of spList" >{{list.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="label" for="id">PRC ID and Recent Picture</ion-label>
        <ion-input class="form-control" name="id" type="file"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="model.address" name="address" required></ion-input>
      </ion-item>
      <ion-item class="form-group mb-2">
        <ion-label class="label" for="id">PRC ID and Recent Picture <span class="note">(<i>must be in 1 file</i>)</span> </ion-label>
        <ion-input (change)="choosefile($event)" class="form-control" name="id" type="file" multiple></ion-input>
      </ion-item>

    </ion-list>
    <div class="check">
      <ion-checkbox checked="false" color="secondary"></ion-checkbox>
      <ion-label>&nbsp;I agree with the <a routerLink="/terms-and-conditions">Terms and Coditions</a></ion-label>
    </div>
    <div style="text-align:center;">
      <ion-button display="center" id="btn1" color="rgb(28,54,94)" type="submit">Sign Up</ion-button>
    </div>
    <div class="form-group">
      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>
    </div>
  </form>
</ion-content>
