<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button routerLink="/doctor-profile"><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button> -->
      <ion-button routerLink="/doctor-profile"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" id="delete" routerLink="/doctor-delete-account">Account<br> Deletion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form='ngForm' (ngSubmit)="update(form.value)" class="update-form">
    <div class="container">
      <div class="outer">
        <img src="{{imgUrl}}" id="pic">
        <div class="inner">
          <input class="inputfile" (change)="choosefile($event)" type="file" name="pic" accept="image/*">
          <label><ion-icon name="cloud-upload-outline" (click)="uploadImage()" id="upload_icon"></ion-icon></label>
        </div>
      </div>
    </div>
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="text"[(ngModel)]="model.email" name="email" value="{{info.email}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input value="{{info.password}}" [(ngModel)]="model.password"name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="model.fullname" name="fullname" value="{{info.fullname}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-input [(ngModel)]="model.dob" displayFormat="MM-DD-YYYY" name="dob" type="date" placeholder="Select Date" value="{{info.dob}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contact Number</ion-label>
        <ion-input placeholder="(+63)" value="{{info.contact_number}}" [(ngModel)]="model.contact_number" name="contact_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>License Number</ion-label>
        <ion-input type="text" value="{{info.license_number}}" [(ngModel)]="model.license_number" name="license_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Specialization</ion-label>
        <ion-select [(ngModel)]="model.specialization" value="{{info.specialization}}" name="specialization">
          <ion-select-option *ngFor="let list of spList" value="{{list.uid}}">{{list.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input value="{{info.address}}" [(ngModel)]="model.address" name="address"></ion-input>
      </ion-item>
    </ion-list>
    <div style="text-align:center;">
      <ion-button display="center" id="btn1" color="rgb(28,54,94)" type="submit" >Save Changes</ion-button>
    </div><br>
  </form>
  <div class="sec2">
    <div>
      <ion-button display="center" id="showIns" class="btn2S" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSec2" aria-expanded="false" aria-controls="collapseSec2" >
        More
      </ion-button>
    </div>
    <div class="collapse" id="collapseSec2">
        <input [(ngModel)]="university" class="form-control" type="text" placeholder="Input University">
        <div style="margin-top: 3%;" hidden id="alert2" class="alert alert-success">
          Successfully Updated!
        </div>
        <div style="margin-top: 3%;" hidden id="alert3" class="alert alert-danger">
          Empty Field!
        </div>
        <div class="container-fluid">
          <div style="position:relative;left: 80%; margin-top: 4%;">
            <ion-button (click)="updateUni()" type="button" class="update">Update</ion-button>
          </div>
        </div>
    </div>
  </div>
</ion-content>
