ion-segment-button {
  overflow: hidden;
  --color-checked: #16c2d5;
  border-radius: 4px;
}

ion-toolbar{
  -webkit-box-shadow: 0 8px 6px -6px gray;
	-moz-box-shadow: 0 8px 6px -6px gray;
	box-shadow: 0 8px 6px -6px gray;
}

.label_records {
  font-size: 10px;
}

.btn_records {
  border-left: 2px solid #16c2d5;
  border-radius: 0;
}

.btn_records:first-child {
  border-left: none;
}

.header_details {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.info_details {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 0 -5px;
  border-bottom: none;
}

