<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-segment value="consultations" [(ngModel)]="selectTabs">
      <ion-segment-button value="medRecords" class="btn_records">
        <ion-label class="label_records">Medical<br>Records</ion-label>
      </ion-segment-button>
      <ion-segment-button value="labResults" class="btn_records">
        <ion-label style="text-align: center;" class="label_records">Lab Results</ion-label>
      </ion-segment-button>
      <ion-segment-button value="prescriptions" class="btn_records">
        <ion-label class="label_records">Prescriptions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="insuranceLOA" class="btn_records">
        <ion-label class="label_records">Insurance<br>LOA</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="header_details">
      <p>Date</p>
      <p>Filename</p>
      <p>Action</p>
  </div>
  <div *ngIf="selectTabs==='medRecords'">
    <ion-list>
       <ion-item button *ngFor="let list of medicalList" >
        <ion-label>
          <div class="info_details">
            <p>{{list.createdAt}}</p>
            <p>{{list.filename}}</p>
            <ion-button (click)="viewFile(list.file)">View</ion-button>
          </div>
        </ion-label>
       </ion-item>
    </ion-list>
  </div>
  <div *ngIf="selectTabs==='labResults'">
    <ion-list>
       <ion-item *ngFor="let list2 of list" >
        <ion-label>
          <div class="info_details">
            <p>{{list2.createdAt}}</p>
            <p>{{list2.filename}}</p>
            <ion-button (click)="viewFile(list2.file)">View</ion-button>
          </div>
        </ion-label>
       </ion-item>
    </ion-list>
  </div>
  <div *ngIf="selectTabs==='prescriptions'">
    <ion-list>
       <ion-item  *ngFor="let list3 of presList" >
        <ion-label>
          <div class="info_details">
            <p>{{list3.createdAt}}</p>
            <p>{{list3.filename}}</p>
            <ion-button (click)="viewFile(list3.file)">View</ion-button>
          </div>
        </ion-label>
       </ion-item>
    </ion-list>
  </div>
  <div *ngIf="selectTabs==='insuranceLOA'">
    <ion-list>
       <ion-item  *ngFor="let list of loaList" >
        <ion-label>
          <div class="info_details">
            <p>{{list.createdAt}}</p>
            <p>{{list.filename}}</p>
            <ion-button (click)="viewFile(list.file)">View</ion-button>
          </div>
        </ion-label>
       </ion-item>
    </ion-list>
  </div>

  <!--<div *ngIf="selectTabs==='labResults'">
    <ion-list>
      <div *ngIf="labresult">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Date</th>
              <th>From</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let list of list">
                <td>{{list.filename}}</td>
                <td>{{list.createdAt}}</td>
                <td>{{list.from}}</td>
                <td>
                  <button (click)="viewFile(list.file)" class="btn btn-success">View</button>
                </td>
              </tr>
          </tbody>
      </table>
      </div>
    </ion-list>
  </div>

  <div *ngIf="selectTabs==='prescriptions'">
    <ion-list>
        <div *ngIf="presc">
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of presList">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.filename}}</td>
                  <td>
                    <ion-button (click)="viewFile(list.file)" class="view" >View </ion-button>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
    </ion-list>
  </div>-->
</ion-content>
