<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align:center;" id="fixed">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list *ngFor="let list of transList">
   <ion-item id="list">
     <ion-label lines="full">
      <h3>{{list.createdAt}}</h3>
      <h2><b>{{userInfo.fullname}}</b> paid an amount of &#36;{{list.Amount}} as a
        payment for one consultation.</h2>
      <p>Schedule: {{list.Schedule}}</p>
      <p>Physician: {{list.doctor_name}} - {{list.Specialization}}</p>
      <p style="color: rgb(28,54,94);">Transaction ID: {{list.uid}}</p>
     </ion-label>
   </ion-item>
 </ion-list>
</ion-content>
