<ion-header>
  <ion-toolbar>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align:center;" id="fixed">Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list *ngFor="let list of transList">
   <ion-item >
     <div>
      <h5>{{userInfo.fullname}}</h5>
      <small>{{list.createdAt}}</small>
     </div>
      <p>Paid an amount of {{list.Amount}} USD as a payment for one consultation.</p>
      <p>Schedule: {{list.Schedule}}</p>
      <p>{{list.Specialization}}: {{list.doctor_name}}</p>
    <small>Transaction ID: {{list.uid}}</small>
   </ion-item>
 </ion-list>
</ion-content>
