<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title><b>E-KONSULTA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{imgUrl}}">
      </ion-avatar>
      <ion-label>
        <h2>{{info.fullname}}</h2>
        <p>Email: {{info.email}}</p>
        <p>Contact: {{info.contact_number}}</p>
        <p>Address: {{info.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
    <!--<ion-item>
      <ion-list *ngFor="let list of fList">
        <ion-item>
          <h5><ion-img src="{{list.image}}"></ion-img>{{list.fullname}}</h5>
          <small>{{list.createdAt}}</small>
          <p>{{list.feedback}}</p>
        </ion-item>
        <ion-item *ngFor="let reply of replyList">
          <ion-item *ngIf="list.from === reply.sent_to">
            <h5><span> <img src="{{imgUrl}}" alt="" width="16px" height="16px"></span>{{reply.fullname}}</h5>
            <p>{{reply.feedback}}</p>
          </ion-item>
          <ion-button (click)="reply_button(list)">Reply</ion-button>
        </ion-item>
      </ion-list>
    </ion-item>
    <form #form="ngForm" (ngSubmit)="reply_user(form.value)" >
      <ion-item>
        <h5>Add a reply</h5>
        <textarea [(ngModel)]="reply" cols="50" rows="5" placeholder="Reply..."></textarea>
          <ion-button>Cancel</ion-button>
          <ion-button type="submit">Add</ion-button>
      </ion-item>
    </form>-->
  <div class="lower-part">
    <ul class="list-group py-2 whole-trans">
      <li *ngFor="let list of fList" class="list-group-item flex-column align-items-start">
        <div id="dComment">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><span><img src="{{list.image}}" alt="" width="20" height="20" class="cute-pic"></span>{{list.fullname}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="mb-1">{{list.feedback}}</p>
            </div>
       </div>

        <div id="replies">
            <div *ngFor="let reply of replyList">
              <div *ngIf="list.from === reply.sent_to" class="reply-to" id="feedback">
                  <h5 class="mb-1"><span> <img src="{{imgUrl}}" alt="" class="cute-pic" width="16px" height="16px"></span>{{reply.fullname}}</h5>
                  <p class="ureply">{{reply.feedback}}</p>
              </div>
            </div>

        </div>

        <div>
          <ion-button (click)="reply_button(list)" class='submit' type="button" data-bs-toggle="modal" data-bs-target="#toReply">Add a reply</ion-button>
        </div>
       <!--<small>Transaction ID</small>-->
       <form #form="ngForm" (ngSubmit)="reply_user(form.value)" class="replylistt">
        <div class="modal-content">
          <div class="modal-header">
            <!--<ion-button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></ion-button>-->
          </div>
            <div class="modal-body">
              <textarea [(ngModel)]="reply" name="reply" id="" cols="50" rows="3" placeholder="Reply..."></textarea>
            </div>
            <div class="modal-footer">
              <ion-button type="button">Cancel</ion-button>
              <ion-button type="submit"><ion-icon name="navigate-outline"></ion-icon></ion-button>
            </div>
        </div>
      </form>
     </li>
    </ul>
  </div>
</ion-content>
