<ion-header class="ion-no-border">
  <ion-toolbar id="fixed">
    <ion-buttons slot="start">
      <ion-button routerLink="/patient-consultation"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-avatar slot="start" id="icon">
      <img src="{{docInfo.image}}" id="pic">
    </ion-avatar>
    <ion-buttons slot="end" class="right">
      <ion-button class="right" (click)="video_call()">
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
      <ion-button class="right" routerLink="/patient-chat-info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:left;">{{docInfo.fullname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="chat$ | async as chat" class="content">
    <ion-list *ngFor="let msg of chat.messages" class="msgbubble" no lines>
      <ion-item *ngIf="msg.uid === userid" lines="none">
        <ion-label>
          <span class="innermsg right" style="white-space: normal!important;">
            {{msg.content}}
          </span>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="msg.uid === docInfo.uid" lines="none">
        <ion-avatar slot="start" class="avtr">
          <img src="{{docInfo.image}}">
        </ion-avatar>
        <span  class="innermsg left"  style="white-space: normal!important;">
          {{msg.content}}
        </span>
      </ion-item>
    </ion-list>
  </div>
 </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-button slot="start" class="add" shape="round" color="primary">
        <ion-icon name="document-attach" class="addicon"></ion-icon>
      </ion-button>
      <div>
        <ion-input [(ngModel)]="content" placeholder="Type to chat"></ion-input>
      </div>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="send_message()">
        <ion-icon name="send" id="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
