
<ion-header class="ion-no-border">
  <ion-toolbar id="fixed">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/patient-consultation"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" id="icon">
      <img src="{{docInfo.image}}" id="pic">
    </ion-avatar>
    <ion-buttons slot="end" class="right">
      <ion-button class="right" (click)="video_call()">
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
      <ion-button class="right" routerLink="/patient-chat-info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:left;">{{docInfo.fullname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="chat$ | async as chat">
    <ion-list *ngFor="let msg of chat.messages">
      <ion-item *ngIf="msg.uid === userid">
        <h3>{{msg.content}}</h3>
        <ion-avatar slot="end">
          <img src="{{imgUrl}}">
        </ion-avatar>
      </ion-item>
      <ion-item *ngIf="msg.uid === docInfo.uid">
        <ion-avatar slot="start">
          <img src="{{docInfo.image}}">
        </ion-avatar>
        <h3>{{msg.content}}</h3>
      </ion-item>
    </ion-list>
  </div>
   <!--<div class="below">
        <div class="image-upload">
          <label for="file-input" class="mt-1">
            <i class="bi bi-plus-circle-fill"></i>
          </label>
          <input id="file-input" type="file"/>
        </div>
      </div>-->
  <!--<div >
    <h1 class="left-profile"><img src="{{docInfo.image}}" alt="" width="40" height="40"></h1>
    <h4 >{{docInfo.fullname}}</h4>
    <div >
      <a>Payment</a>
      <a>Shared Files</a>
    </div>
  </div>-->
 </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea placeholder="Type to chat" [(ngModel)]="content"></ion-textarea>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="send_message()">
        <ion-icon name="send" id="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
