<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="text-align:center;" id="fixed">Health Insurance Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="insurance">
    <ion-searchbar animated [(ngModel)]="searchNameins" (input)="get_healthList()" placeholder="Search Health Insurance"></ion-searchbar>
    <ion-list>
      <ion-label *ngFor="let list of list" class="card">
        <ion-item button (click)="view_review_insurance(list)">
          <ion-avatar slot="start">
            <img src="{{list.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{list.name}}</h2>
            <h2>{{list.address}}</h2>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-list>
  </div>
</ion-content>
