<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/patient-doctors-list"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>patient-doctors-list-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <p>Doctor: {{docInfo.fullname}}</p>
      <p>Specialization: {{docInfo.ins}}</p>
    </ion-item>
    <form #form="ngForm" (ngSubmit)="submit(form.value)">
      <div>
        <h2>Select Schedule</h2>
        <ion-item>
          <label>
            Please fill in required fields
            <small>*</small>
          </label>
        </ion-item>
        <div>
              <label>Scheduled Date</label>
              <small>*</small>
              <div>
                <select [(ngModel)]="schedule" name="schedule" #date (change)="get_time(date.value)">
                    <option value="" selected>Select Date</option>
                    <!-- <ion-icon name="calendar-outline"></ion-icon> -->
                    <option *ngFor="let list of scheduleList" value="{{list.uid}}">{{list.date}}</option>
                </select>
              </div>
          </div>
          <div>
              <label>Scheduled Time</label>
              <small>*</small>
              <ion-select [(ngModel)]="time" name="time">
                <ion-select-option value="" selected>Select Time</ion-select-option>
                <ion-select-option *ngFor="let list of timeList" value="{{list.uid}}">
                  {{list.time}}
                  <span *ngIf="list.status!=='full'">
                      notfull
                  </span>
                  <span *ngIf="list.status==='full'">
                      full
                </span>
                </ion-select-option>
              </ion-select>
            </div>
      </div>
        <div *ngIf="error_schedule.length > 0" >
          {{error_schedule}}
        </div>
            <ion-button type="submit">Continue</ion-button>
    </form>
  </form>

</ion-content>
