<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/patient-doctors-list"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>View Doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><p>Doctor:</p></ion-col>
          <ion-col>{{docInfo.fullname}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><p>Specialization:</p></ion-col>
          <ion-col>{{docInfo.ins}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <form #form="ngForm" (ngSubmit)="submit(form.value)">
      <div>
        <h2 class="ion-text-center">Select Schedule</h2>
        <ion-item>
          <ion-label>
            Please fill in required fields
            <small>*</small>
          </ion-label>
        </ion-item>
        <div>
              <ion-label class="sched">Scheduled Date</ion-label>
              <small>*</small>

                <div class="input-group date" id="datepicker">
                  <ion-input #date type="date" displayFormat="yyyy-mm-dd" (change)="getdate(date.value)"></ion-input>
                </div>

          </div>
          <div>
              <ion-label class="sched">Scheduled Time</ion-label>
              <small>*</small>
              <ion-select [(ngModel)]="time" name="time" class="form-select required bg-white">
                <ion-select-option value="" selected>Select Time</ion-select-option>
                <ion-select-option *ngFor="let list of timeList" value="{{list.uid}}">
                  {{list.time}}
                </ion-select-option>
              </ion-select>
            </div>
      </div>
        <div *ngIf="error_schedule.length > 0" >
          {{error_schedule}}
        </div>
            <ion-button class="continue" type="submit">Continue</ion-button>
    </form>
  </form>

</ion-content>
