ion-searchbar{
  margin-top: 7px;
  border-radius: 5px !important;
}

ion-select{
  color: #16c2d5;
  display: block;
  width:max-content;

}

h2{
  display: block;
}

ion-label{
  display: block;
  width:max-content;
}

.card{
  width: 80%;
  margin: auto;
}
