<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/patient-consultation"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Doctor List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar style="text-align:center;">
    <ion-searchbar animated [(ngModel)]="searchName" (input)="get_doctorList()" name="searchName" placeholder="Search Doctor"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-label *ngFor="let list of docList" class="card">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{list.image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{list.fullname}}</h2>
          <p>{{list.ins}}</p>
        </ion-label>
        <ion-button button (click)="book_doctor_view(list)">View</ion-button>
      </ion-item>
    </ion-label>
  </ion-list>
</ion-content>

