<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>E-konsulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-center">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{imgUrl}}">
          </ion-avatar>
          <ion-label class="name">{{info.fullname}}</ion-label><br><br>
        </ion-item>
        <ion-item>
          <div *ngIf="info.isVerified === 'verified'" class="chip">
            <div class="chip-content">Verified <span class="checked"><i class="bi bi-star-fill"></i></span></div>
          </div>
          <div *ngIf="info.isVerified=== 'pending' " class="chip">
            <div class="chip-content1">Pending <span class="checked"><i class="bi bi-clock-history"></i></span></div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"></ion-label>
            <ion-input name="Email" readonly>Email: {{info.email}}</ion-input>
            <ion-input name="Date of Birth" readonly>Date of Birth: {{info.dob}}</ion-input>
            <ion-input name="Contact Number" readonly>Contact Number: {{info.contact_number}}</ion-input>
            <ion-input name="Address" readonly>Address: {{info.address}}</ion-input>
            <ion-input name="License Number" readonly>License Number: {{info.license_number}}</ion-input>
            <ion-input name="Specialization" readonly>Specialization: {{spInfo.name}}</ion-input>
        </ion-item><br><br><br><br><br>
        <div class="buttons">
          <ion-button  id="btn1" color="rgb(28,54,94)" expand="block" routerLink="/doctor-edit-profile"><ion-icon name="create"></ion-icon> Edit</ion-button>
          <ion-button id="btn3" routerLink="/doctor-set-consultation-fee">CONSULTATION FEE</ion-button>
          <ion-button id="btn4" routerLink="/doctor-edit-insurance">INSURANCE</ion-button>
          <ion-button  id="btn2" color="rgb(28,54,94)" routerLink="/login"><ion-icon name="exit"></ion-icon> Logout</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
