<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button routerLink="/patient-profile"><ion-icon name="arrow-back-outline"></ion-icon></ion-button> -->
      <ion-button routerLink="/patient-profile"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{info.insurance_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <p *ngIf="info.health_insurance !== 'none'">Status: {{info.isVerified}}</p>
    <p *ngIf="info.health_insurance === 'none'">Status: none</p>
      <ion-item>
        <ion-label>Health Insurance</ion-label>
        <ion-select [(ngModel)]="health_insurance" name="health_insurance" type="text" class="form-select"  >
          <ion-select-option value="{{info.health_insurance}}" selected>{{info.insurance_name}}</ion-select-option>
          <ion-select-option *ngFor="let list of insList">{{list.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Health Insurance#</ion-label>
        <ion-input type="text" [(ngModel)]="member_ID" value="{{info.member_ID}}" name="member_ID" class="insurance_no" style="width: 200px;"></ion-input>
      </ion-item>
      <ion-item>
        <label class="label" for="id">Insurance Card Pic and Recent Picture <span><i>(must be in one file)</i></span></label> <br>
        <ion-label>
          <ion-input (change)="choosefile2($event)" name="id" type="file"></ion-input>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="verified_message" class="alert alert-danger">
        {{verified_message}}
      </ion-item>
      <ion-item *ngIf="verification_sent" class="alert alert-success">
        {{verification_sent}}
      </ion-item>
      <ion-item style="text-align:center;">
        <ion-button display="center" type="submit" (click)="update_insurance()">Send Verification</ion-button>
      </ion-item><br>
    </ion-list>

    <div class="info_container">



      <div *ngIf="info.health_insurance !== 'none' && info.isVerified !== 'pending'">
        <div class="info_content">
          <ion-item>
            <ion-label>INFO</ion-label>
          </ion-item>
        </div>
          <ion-item>
          <ion-label>Package: {{insurance_info.Package}}</ion-label>
          </ion-item>
          <ion-item>
            <span>Current Spent:</span><ion-button>{{insurance_info.spent}}php</ion-button>
          </ion-item>
          <ion-item>
            <span>Limit:</span><ion-button>{{insurance_info.limit}}php</ion-button>
          </ion-item>
          <ion-item>
            <ion-button (click)="request_LOA()" >Request LOA</ion-button>
          </ion-item>
          <ion-item *ngIf="request_error.length > 0" style="margin-top: 2%;" class="alert alert-danger">
            {{request_error}}
          </ion-item>
          <ion-item *ngIf="request_sent.length > 0" style="margin-top: 2%;" class="alert alert-warning">
            {{request_sent}}
          </ion-item >
          <ion-item>
            <div class="laboratory_content">
                <h5>LABORATORY</h5>
                <ion-item>
                    <ion-select [(ngModel)]="lab_id" name="lab_id" id="" class="mb-2">
                    <ion-select-option value="" selected>Select Laboratory</ion-select-option>
                    <ion-select-option *ngFor="let list of labList" value="{{list.uid}}">{{list.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Filename: &nbsp;</ion-label>
                    <ion-input [(ngModel)]="filename" type="text" size="25"></ion-input>
                </ion-item>
                <ion-item >
                  <ion-input (change)="choosefile($event)" type="file"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-button (click)="send_labLOA()" class="send">Send LOA</ion-button>
                </ion-item>
                <ion-item *ngIf="lab_message" class="alert alert-success">
                  {{lab_message}}
                </ion-item>
                <ion-item *ngIf="empty_field" class="alert alert-danger">
                  {{empty_field}}
                </ion-item>
            </div>
          </ion-item>
      </div>

    </div>




</ion-content>
